:root {
    --clr-background-color: #f4f1de;
    --clr-header-color: #e07a5f;
    --clr-font-color: #81b29a;
}

body { 
    min-height: 100vh; 
    background-color: var(--clr-background-color);
}

.App {
    text-align: center;
    background-color: var(--clr-background-color);
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
}

.App-tittle {
    color: var(--clr-header-color);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
